body{




}

.container{

    display: flex;


}
.button-28 {
        height: 45px;
        appearance: none;
        background-color: white;
        border: 2px solid #1A1A1A;
        border-radius: 15px;


        box-sizing: border-box;
        color: #3B3B3B;
        cursor: pointer;
        margin-left: 10px;
        padding: 12px 24px;

        line-height: normal;
        margin-top: 10px;
        text-decoration: none;
        color: black;

        outline: none;

        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 150px;
        will-change: transform;
    }

    .button-28:disabled {
        pointer-events: none;
    }

    .button-28:hover {
          color: #fff;
          background-color: #1A1A1A;
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          transform: translateY(-2px);
    }

    .button-28:active {
          box-shadow: none;
          transform: translateY(0);
    }
.tp{
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;

}
.scd{


    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    display: flex;
    margin-top: 300px;
    justify-content: center;



}
.top{
    position: absolute;
    background-color: rgb(232, 232, 232);
    border: 2px solid black;
    margin-top: -310px;
    height: 270px;
    width: 910px;
    margin-left: -90px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
.top .text_l{
    font-size: 2rem;
    margin-left: 10px;
}
.op{
    opacity: 50%;
}
.box{
    border: 1px solid black;

    text-align: center;

    box-shadow: #555 1px 1px 8px;
    margin: 5px;
    height: 90px;
    width: 80px;
    color: rgb(243, 239, 239);
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;

    background: #0391CF;


}
.box:hover{
    transform: scale(180%);
    box-shadow: 0px 0px 0px #555;
    font-size: 2rem;

    border-radius: 3px;
    margin-bottom: 15px;

    /* transition: all 0.3s ease-in-out; */

}
.box:hover .meta{
    display: block;
    animation: tracking-in-expand 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-size: 0.5rem;
}
.box_b{
    border: 1px solid black;

    text-align: center;


    margin: 5px;
    height: 90px;
    width: 80px;
    color: rgb(243, 239, 239);
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;

    background: #0391CF;


}
.box_b:hover{
    transform: scale(180%);
    box-shadow: 0px 0px 0px #555;
    font-size: 2rem;

    border-radius: 3px;
    margin-top: 6px;

    /* transition: all 0.3s ease-in-out; */

}
.box_b:hover .meta{
    display: block;
    animation: tracking-in-expand 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-size: 0.5rem;
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
.red{
    background-color: rgb(211, 46, 46);
}
.orange{
    background-color: #CC6600;
}
/* .pink{
    background-color: #cc1fc3;
} */
.green{
    background-color: #28bd20;
}
.y{
    background-color: #a3a31b;

}

.blue{
    background-color: #243aaa;
}
.bleu{
    background: #0391CF;
}
.legende_box{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left:-40px;

}
.legende_text{
    margin-left: 40px;


}
._2{
    margin-left: 350px;
    margin-top: -200px;

}
.v{
    height: 15px;
    width: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    margin-left: 240px;
    position: absolute;
    margin-top: -50px;
    transform: rotate(130deg);
    display: none;
}
.box_{
    border: 1px solid black;

    color: rgb(243, 239, 239);
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;

    box-shadow: #555 1px 1px 8px;
    margin: 5px;
    height: 90px;
    width: 80px;

}
.line{
    position: absolute;
    border-right: 4px solid black;

    height: 97px;
}
.line2{
    position: absolute;
    border-right: 4px solid black;
    margin-top: 75px;
    margin-left: 19.5px;
    height: 41px;
    transform: rotate(90deg);
}
.arr{
    position: absolute;
    border-right: 4px solid black;
    border-top: 3px solid black;
    margin-top: 84px;
    margin-left: 17px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

.arrow{
    margin-left: 35px;
}

.meta{
    text-align: left;
    margin: 5px;
    color: rgb(243, 239, 239);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    border-top: 1px black solid;
    display: none;

}
.ato_n{
    color: rgb(243, 239, 239);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;

    margin-left: -50px;

}
.p{

    width: 100px;
    margin-top: -22px;




}
.p_l{
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-items: start;
    margin-left: -35px;


}
.b{
    border: 1px solid black;
    margin: 5px;

    border-radius: 5px;
    text-align: center;


    margin: 5px;
    height: 90px;
    width: 80px;
    color: rgb(243, 239, 239);
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;

    background:#3FA204;

}
.top_f{
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;

    border-radius: 2px;
    width: 80px;
    height: 40px;

    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.f1{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: -6px;




}
.f2{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 96px;

}
.f3{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 300px;


}
.f4{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.f5{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f6{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f7{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f8{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f9{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f10{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f11{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f12{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
.f13{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 96px;

}
.f14{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 96px;

}
.f15{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 96px;
}
.f16{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 96px;
}
.f17{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 96px;

}
.f18{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: -7px;

}


@media only screen and (max-width: 600px) {
    .container{


    scale: 50%;
    margin-left: -50px;



    }
    .box:hover{
        transform: scale(180%);
        box-shadow: 0px 0px 0px #555;
        font-size: 2rem;
        height: auto;
        border-radius: 3px;
        margin-bottom: 15px;



    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 100px) {
    .container{



    margin-top: -100px;
    margin-left: -300px;
    scale: 60%;



    }
    .box:hover{
        transform: scale(180%);
        box-shadow: 0px 0px 0px #555;
        font-size: 2rem;

        border-radius: 3px;
        margin-bottom: 14px;



    }
    .box_b:hover{
        transform: scale(180%);
        box-shadow: 0px 0px 0px #555;
        font-size: 2rem;
        height: auto;
        border-radius: 3px;
        margin-bottom: 2.75px;



    }
}

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 1300px) {
    .container{


    scale: 70%;
    margin-top: -50px;
    margin-left: -150px;


    }
    .box:hover{
        transform: scale(180%);
        box-shadow: 0px 0px 0px #555;
        font-size: 2rem;
        height: auto;
        border-radius: 3px;
        margin-bottom: 15px;



    }
}


@media only screen and (min-width: 1500px) {
    .container{

    margin-top: -50px;
    margin-left: -150px;
    scale: 80%;



    }
    .box:hover{
        transform: scale(180%);
        box-shadow: 0px 0px 0px #555;
        font-size: 2rem;

        border-radius: 3px;
        margin-bottom: 15px;



    }
}


@media only screen and (min-width: 1700px) {
    .container{

    margin-top: 30px;
    margin-left: 100px;
    scale: 100%;



    }

}

.sheet{
    margin-top: 1000px;
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    position: absolute;
    display: flex;
    flex-wrap: wrap;

}
.box_select{
    height: 90px;
    width: 80px;


    text-align: center;
    margin-top: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;

}
.box_select .colo{
    background-color: red;
}
.del_item{
    position: absolute;
    margin-top: 950px;
    height: 40px;
    width: 80px;
    background-color: red;
    text-align: center;

    font-family: 'Open Sans', sans-serif;

    color: white;
}
.plus{
    position: absolute;
    margin-top: 950px;
    margin-left: 90px;
    height: 40px;
    width: 80px;

    text-align: center;

    font-family: 'Open Sans', sans-serif;

    color: rgb(0, 0, 0);
}
.fleche{
    position: absolute;
    margin-top: 950px;
    margin-left: 180px;
    height: 40px;
    width: 80px;

    text-align: center;

    font-family: 'Open Sans', sans-serif;

    color: rgb(0, 0, 0);
}
.send{
    position: absolute;
    margin-top: 950px;
    margin-left: 280px;
    height: 40px;
    width: 80px;

    text-align: center;

    font-family: 'Open Sans', sans-serif;

    color: rgb(0, 0, 0);
}
.n{


    margin-left: 5px;
    height: 40px;
    width: 80px;

    flex-wrap: nowrap;

    font-family: 'Open Sans', sans-serif;

    color: rgb(0, 0, 0);
}
.ne{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 950px;
    margin-left: 280px;
}
@media only screen and (min-height: 700px){
    .container{
        scale: 75%;
        display: flex;
    }
}