<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    {% load static %}
    <link href="{% static 's2.css' %}" rel="stylesheet">
</head>

<body onload="load()">



    <div class="container" id="app" >
        <div class="p">
            <ul class="p_l">
                <li class="b">1</li>
                <li class="b">2</li>
                <li class="b">3</li>
                <li class="b">4</li>
                <li class="b">5</li>
                <li class="b">6</li>
                <li class="b">7</li>

            </ul>
        </div>

        <!-- <div class="f">
            <ul class="f_1">
                <li class="b2">I A</li>
                <li class="b2">II A</li>
                <li class="b2">III B</li>
                <li class="b2">IV B</li>
                <li class="b2">V B</li>
                <li class="b2">VI B</li>
                <li class="b22">VIII B</li>
                <li class="b2">I B</li>
                <li class="b2">II B</li>
                <li class="b2">III A</li>
                <li class="b2">IV A</li>
                <li class="b2">V A</li>
                <li class="b2">VI A</li>
                <li class="b2">VII A</li>
                <li class="b2">0</li>
            </ul>
        </div> -->

        <div class="tp">
            <div class="f1">
                <div class="top_f pink"> 1</div>
                <div class="box_b" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f1">
                    <div class="ato_n">[[element.atomicnumber]]</div>
                    [[element.symbol]]

                    <div class="meta"> [[element.name]] <br> [[element.period]]

                    </div>

                </div>
            </div>
            <div class="f2">
                <div class="top_f pink"> 2</div>
                <div class="box box_2" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f2">
                    <div class="ato_n">[[element.atomicnumber]]</div>
                    [[element.symbol]]

                    <div class="meta"> [[element.name]]

                    </div>
                </div>
            </div>
            <div class="f3">
                <div class="top_f pink"> 3</div>
                <div class="box" v-bind:class="`${[elements[20].atomicnumber]}`">
                    <div class="ato_n">[[elements[20].atomicnumber]]</div>
                    [[elements[20].symbol]]

                    <div class="meta"> [[elements[20].name]]

                    </div>
                </div>
                <div class="box" v-bind:class="`${[elements[38].atomicnumber]}`">
                    <div class="ato_n">[[elements[38].atomicnumber]]</div>
                    [[elements[38].symbol]]

                    <div class="meta"> [[elements[38].name]]

                    </div>
                </div>
                <div class="box_ 57">6</div>
                <div class="box_ 89">7</div>
                <div class="arrow">
                    <div class="line"></div>
                    <div class="line2"></div>
                    <div class="arr"></div>

                </div>

                </div>
            </div>
            <div class="scd">
                <div class="top">
                    <div class="text_l">Légende :</div>
                    <li style="list-style-type:none">
                        <ul class="legende_text" onclick="click_color('red')" >
                            <div class="red legende_box"></div>
                            <p>Famille A métaux <div id="V" class="v"></div></p>

                        </ul>
                        <ul class="legende_text" onclick="click_color('bleu')">
                            <div class="bleu legende_box"></div>
                            <p>Famille B métaux <div id="V" class="v"></div></p>


                        </ul>
                        <ul class="legende_text" onclick="click_color('blue')">
                            <div class="blue legende_box"></div>
                            <p>Famille A non-métaux <div id="V" class="v"></div></p>

                        </ul>
                        <ul class="legende_text" onclick="click_color('orange')">
                            <div class="orange legende_box"></div>
                            <p>Gaz noble <div id="V" class="v"></div></p>

                        </ul>
                        <ul class="legende_text _2" onclick="click_color('y')">
                            <div class="y legende_box"></div>
                            <p>Lanthanides et actinides <div id="V" class="v"></div></p>

                        </ul>
                    </li>
                </div>
                <div class="f4">
                    <div class="top_f pink"> 4</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f4">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f5">
                    <div class="top_f pink"> 5</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f5">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f6">
                    <div class="top_f pink"> 6</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f6">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f7">
                    <div class="top_f pink"> 7</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f7">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f8">
                    <div class="top_f pink"> 8</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f8">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f9">
                    <div class="top_f pink"> 9</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f9">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f10">
                    <div class="top_f pink"> 10</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f10">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f11">
                    <div class="top_f pink"> 11</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f11">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f12">
                    <div class="top_f pink"> 12</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f12">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
            </div>
                <div class="f13">
                    <div class="top_f pink"> 13</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f13">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f14">
                    <div class="top_f pink"> 14</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f14">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f15">
                    <div class="top_f pink"> 15</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f15">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>

                <div class="f16">
                    <div class="top_f pink"> 16</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f16">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>
                <div class="f17 ">
                    <div class="top_f pink"> 17</div>
                    <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f17">
                        <div class="ato_n">[[element.atomicnumber]]</div>
                        [[element.symbol]]

                        <div class="meta"> [[element.name]]

                        </div>
                    </div>
                </div>

            <div class="f18">
                <div class="top_f pink"> 18</div>
                <div class="box" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in f18">
                    <div class="ato_n">[[element.atomicnumber]]</div>
                    [[element.symbol]]

                    <div class="meta"> [[element.name]] </div>
                </div>

            </div>
            <button id="del_item" class="del_item" v-on:click="select_e.pop()">delete</button>
            <button id="plus" class="plus" v-on:click="this.select_e.push(' + ')">+</button>
            <button id="fleche" class="fleche" v-on:click="this.select_e.push(' -> ')">-></button>

            <div class="ne">
                <button class="n" v-for="item in items" v-bind:value="item" v-on:click="this.select_e.push(item)">
                    [[ item ]]
                </button>
            </div>


            <div class="sheet" onmouseover="load()">
                <div class="box_select" v-bind:class="`${[element.atomicnumber]}`" v-bind:id="`${[element.atomicnumber]}`" v-for="element in select_e">[[element]]</div>
            </div>

        </div>



    </div>






</body>
{% load static %}
<script src="{% static 'vue.js' %}"></script>
<script src="{% static 'data.js' %}"></script>

<script>




    const app = Vue.createApp({
    el: '#app',
    delimiters: ['[[', ']]'],
    data() {
        return {
            elements: [],
            f1:[],
            f2:[],
            f3:[],
            f4:[],
            f5:[],
            f6:[],
            f7:[],
            f8:[],
            f9:[],
            f10:[],
            f11:[],
            f12:[],
            f13:[],
            f14:[],
            f15:[],
            f16:[],
            f17:[],
            f18:[],
            select_e:[],
            empty_list:[],
            send_:'',
            items:[1,2,3,4,5,6,7,8,9],
            selected: '',
        }
    },



    created() {


        for (let i = 0; i < data.length; i++) {

            this.elements.push(data[i])


            if (data[i].tablecolumn18col == 1) {
                this.f1.push(data[i])

            }
            if (data[i].tablecolumn18col == 2) {
                this.f2.push(data[i])
            }
            if (data[i].tablecolumn18col == 3) {
                this.f3.push(data[i])
            }
            if (data[i].tablecolumn18col == 4) {
                this.f4.push(data[i])
            }
            if (data[i].tablecolumn18col == 5) {
                this.f5.push(data[i])
            }
            if (data[i].tablecolumn18col == 6) {
                this.f6.push(data[i])
            }
            if (data[i].tablecolumn18col == 7) {
                this.f7.push(data[i])
            }
            if (data[i].tablecolumn18col == 8) {
                this.f8.push(data[i])
            }
            if (data[i].tablecolumn18col == 9) {
                this.f9.push(data[i])
            }
            if (data[i].tablecolumn18col == 10) {
                this.f10.push(data[i])
            }
            if (data[i].tablecolumn18col == 11) {
                this.f11.push(data[i])
            }
            if (data[i].tablecolumn18col == 12) {
                this.f12.push(data[i])
            }
            if (data[i].tablecolumn18col == 13) {
                this.f13.push(data[i])
            }
            if (data[i].tablecolumn18col == 14) {
                this.f14.push(data[i])
            }
            if (data[i].tablecolumn18col == 15) {
                this.f15.push(data[i])
            }
            if (data[i].tablecolumn18col == 16) {
                this.f16.push(data[i])
            }
            if (data[i].tablecolumn18col == 17) {
                this.f17.push(data[i])
            }
            if (data[i].tablecolumn18col == 18) {
                this.f18.push(data[i])
            }

        }
        document.addEventListener('click',(e) =>{
        color1 = []
        let elementClass = e.target.id;
        let elementColor = e.target
        console.log(this.select_e)
        if (elementClass !== '') {



            for(var i = 0; i < data.length; i++) {
                if (data[i].atomicnumber == elementClass) {
                    this.select_e.push(data[i].symbol)
                    console.log(this.select_e.join(""))



                    if (this.select_e.length > 10) {
                        console.log("trop d'element")
                        this.select_e.pop()
                    }



                }
            }

        }

        else {
        console.log('An element without a id was clicked');
        }
        });
        function click_del_item(){
            this.select_e.length = 0

        }


    }

    });
    

    app.mount('#app')
    


</script>
<script>
    
    function color(num = [], color){
        
        for (let i = 0; i < num.length; i++) {

            let f = document.getElementsByClassName(num[i])
            
            f[0].classList.add(color)
        }
        
    }
    
    function load(){
        color([1, 3, 11, 19, 37, 55, 87, 4, 12, 20, 38, 56, 88, 13,31,32,51,70,85,49,50,67,68,69,81,82,83,84], 'red')
        
        console.log("load")
        
        color([
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,57,89
        
        ], 'y') 
        
        
        color([10, 18, 36, 54, 86, 118, 2], "orange")
        color([5,6,7,8,9,14,15,16,17,33,34,35,52,53,71], "blue")
        
    }
</script>
</html>